# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
.next/
out/

# Env
.env
.env.local
.env.*.local
!.env.example

# Prisma
apps/api/prisma/migrations/dev.db*

# Logs
*.log
npm-debug.log*
logs/

# Editor
.idea/
.vscode/
*.swp
.DS_Store

# Docker / certs
nginx/certs/*
!nginx/certs/.gitkeep

# Flutter
apps/mobile/.dart_tool/
apps/mobile/build/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/android/.gradle/
apps/mobile/ios/Pods/

# Test / coverage
coverage/
*.tsbuildinfo
